@font-face {
    font-family: "Raleway-Medium";
    src: url(../reservia/fonts/Raleway-Medium.ttf)
}
* {
    box-sizing: border-box;
}
/******************body********************/
body {
    font-family: "Raleway-Medium";
    padding: 5px;
    margin: auto;
    font-size: 0.9em;
}

/*****************NAVBAR******************/
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.decorationLien{
    text-decoration: none;
}
.sizeLien{
    width: 140px;
    height: 99px;
}
.sizeLiens {
    width: 45%;
}
.colorLien {
    color: #0065fc;
    font-weight: bold;
}
/**********************************/
h1 {
    font-weight: bold;
    font-size: 1.5em;
}
p {
    font-weight: normal;
}
form {
    width: 400px;
    height: 50px;
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
}

.map {
    background-color: #f2f2f2;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}
.recherche {
    width: 230px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    border-color: #f2f2f2;
}
::placeholder{
    color: black;
    font-size: 1em;
}
button {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #0065fc;
    color: white;
    font-family: "raleway-Medium";
    border-color: #f2f2f2;
}
.blockFiltres {
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filtres{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.icones {
    color: #0065fc;
    background-color: #deebff;
    font-size: 18px;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1em;
    border: 1em #f2f2f2;
    border-radius: 100%;


}
.eco {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}
.famille {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}
.romantique {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}
.animaux {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}
.blockInfo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 700px;
}
.info{
    color: white;
    border: #f2f2f2;
    background-color: #0065fc;
    font-size: 25px;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    border: 1em #f2f2f2;
    border-radius: 100%;
}
.infoP{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    padding: 1em;
}
/**********Section 1*************/
