@font-face {
    font-family: "Raleway-Medium";
    src: url('fonts/Raleway-Medium.ttf');
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Raleway-Medium";
    src: url('fonts/Raleway-Medium.ttf');
    font-size: medium;    
}
/****marges****/
#bloc_page {
    margin-left: 50px;
    margin-right: 50px;
}
@media all and (max-width: 1024px) {
    #bloc_page {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media all and (max-width: 700px) {
    #bloc_page {
        margin-left: 5px;
        margin-right: 5px;
    }
}
/*NAVBAR*/
#menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
}
#logo img {
    width: 140px;
}
#navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navbar_link_hebergements {
    border-top: #0065fc 2px solid;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
}
#navbar a {
    color: black;
    font-weight: 550;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
}
#navbar a:visited {
    color: #267bfc;
}
#inscription {
    width: 30%;
}
#inscription a {
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
    justify-content: right;
    padding-left: 30px;
    width: 100%;
}
/**Responsive navbar**/
@media all and (max-width: 700px) {
    #menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 55px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media all and (max-width: 700px) {
    #logo img {
        width: auto;
    }
}
@media all and (max-width: 700px) {
    #navbar {
        grid-column: 1 / span2;
        column-gap: 0;
        border-bottom: #f2f2f2 solid 3px;
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 0;
    }
}
@media all and (max-width: 700px) {
    #navbar .navbar_link_hebergements,
    #navbar .navbar_link_activites {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-left: 0;
        margin-bottom: 0;
        height: 100%;
        width: 100%;
    }
}
@media all and (max-width: 700px) {
    #inscription {
        grid-row: 1;
        grid-column-start: 2;
        justify-self: end;
        margin-right: 30px;
    }
}
@media all and (max-width: 700px) {
    .navbar_link_hebergements {
        border-top: none;
        border-bottom: #0065fc solid 3px;
        padding-top: 0;
        padding-bottom: 0;  
    }
}
/*********FORM********/
h1 {
    font-weight: bold;
    font-size: 1.5em;
}
form {
    width: 400px;
    height: 50px;
}
.search {
    display: flex;
    align-items: center;
    width: 400px;
    height: 50px;
    border-radius: 10px;
}
.map {
    background-color: #f2f2f2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
    border: 0.5px solid;
    border-color: #f2f2f2;
}
.recherche {
    font-family: "Raleway-Medium";
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    border-color: #f2f2f2;
    padding: 20px;
    border: 0.5px solid;
    border-left: none;
    border-right: none;
    border-color: #f2f2f2;
}
::placeholder{
    color: black;
    font-size: 1em;
    border-color: #f2f2f2;
}
.search_button {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #0065fc;
    color: white;
    font-family: "raleway-Medium";
    border-color: #f2f2f2;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    border: 0.5px solid;
}
.icon_glass {
    display: none;
}
/**responsiv Form**/
@media all and (max-width: 700px) {
    h1 {
        padding-top: 20px;
    }
}
@media all and (max-width: 700px) {
    .search {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 30px;
    }
}
@media all and (max-width: 700px) {
    .search_button {
        display: none;
    }
}
@media all and (max-width: 700px) {
    .icon_glass {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
        background-color: #0065fc;
        color: white;
        border-radius: 10px 10px 10px 10px;
        border-color: #f2f2f2;
        border: 0.5px solid;
        height: 50px;
        width: 50px;
    }
}
/**************FILTRES****************/
.block_filtres{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.filtres {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    height: 100px;
    width: 100px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
/*iconnes*/
.iconne_eco {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconne_famille {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconne_romantique {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconne_animaux {
    border: 2px solid #f2f2f2;
    height: 50px;
    width: 250px;
    border-radius: 30px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

@media all and (max-width: 700px) {
    .iconne_animaux {
        width: 215px;
    }
}

/*text_iconnes*/
.text_icones{
    display: flex;   
}
.text_icones a {
    color: black;
}
/*text iconnes bordures*/
.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    background-color: #deebff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: 1em #f2f2f2;
    border-radius: 100%;
    padding: 20px;
}
.eco {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    border-radius: 0 25px 0;
}
.famille {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    border-radius: 0 25px 0;
}
.romantique {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    border-radius: 0 25px 0;
}
.animaux {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    border-radius: 0 25px 0;
}
@media all and (max-width: 700px) {
    
    .eco,
    .famille,
    .romantique {
        padding-left: 10px;
    }
}
@media all and (max-width: 700px) {
    .animaux {
        padding-left: 10px;
        padding-right: 0;
    }
}
.text_icones a {
    text-decoration: none;
}
/*Info*/
.block_info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0065fc;
    font-size: 25px;
    width: 20px;
    height: 20px;
    padding: 0.5em;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
.info p {
    margin-top: 0;
    margin-bottom: 0;
}
/**BlockFiltres responsiv**/
@media all and (max-width: 1024px) {
    .block_filtres {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
}
@media all and (max-width:700px) {
    .block_filtres {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: auto;
    }
}
@media all and (max-width:700px) {
    .filtres {
        width: 100%;
        height: 60px;
    }
}
@media all and (max-width: 1024px) {
    .text_icones {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}
@media all and (max-width:700px) {
    .text_icones {
        display: flex;
        justify-content: left;
        flex-flow: row;
        flex-wrap: wrap;
        width: auto;
        gap: 10px;
        font-size: 14px;
    }
}
@media all and (max-width: 1024px){
    .iconne_eco {
        margin-left: 0;
    }
}
@media all and (max-width: 700px) { 
    .iconne_eco {
        border: 2px solid #f2f2f2;
        height: 50px;
        border-radius: 30px;
        align-items: center;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
       
    }
}
@media all and (max-width: 700px) {
    .iconne_famille {
        border: 2px solid #f2f2f2;
        height: 50px;
        border-radius: 30px;
        align-items: center; 
        align-self: flex-start; 
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 700px) {
    .iconne_romantique {
        border: 2px solid #f2f2f2;
        height: 50px;
        border-radius: 30px;
        align-items: center;
        margin-right: 50px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 700px) {
    .iconne_animaux {
        border: 2px solid #f2f2f2;
        height: 50px;
        border-radius: 30px;
        align-items: center;
        margin-right: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 700px) {
    .block_info {
        display: flex;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
@media all and (max-width: 700px) {    
    .info {
        margin-bottom: 20px;
        align-self: center;
    }
}

/**********Set-up Section 1*************/
.a_la_une {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    row-gap: 30px;
    column-gap: 30px;
}
@media all and (max-width: 1024px) {
    .a_la_une {
        display: flex;
        flex-direction: column-reverse;
        margin-left: -50px;
        margin-right: -55px;
        padding-left: 30px;
        width: 100%;
        height: auto;
    }
}
@media all and (max-width: 700px) {
    .a_la_une {
        margin-left: 10px;
        margin-right: 10px;
        row-gap: 0;
        height: 100%; 
        width: 100%;
        padding-left: 0;
    }
}
#hebergements {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #f2f2f2;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-size: cover;
    width: 60%;
    
}
@media all and (max-width: 1024px) {
    #hebergements {
        width: auto;
        height: auto;
        padding-left: 10px;
        margin-left: 10px;
        margin-right: 0;
    }
}
@media all and (max-width: 700px) {
    #hebergements {
        background-color: #fff;
        padding-left: 5px;
        margin-right: 0;
        width: 100%;
        height: 100%;
    }
}
/***titres H2***/
.titres {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    padding-top: 5px;
}
@media all and (max-width: 1024px) {
    .titres {
        padding-left: 20px;
    }
}
@media all and (max-width: 700px) {
    .titres {
        padding-left: 10px;
        margin-left: -10px;
    }
}
.selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    
}
@media all and (max-width: 1024px) {
    .selection {
        justify-content: space-around;
        column-gap: 33px;
        row-gap: 33px;
    }
}
@media all and (max-width: 700px) {
    .selection {
        margin-left: -15px;
        margin-right: -15px;
        row-gap: 20px;
        padding-left: 7px;
        padding-right: 0;
    }
}
/*****Légendes*****/
.legendes {
    padding-left: 15px;    
}
.legendes div {
    font-size: 12px;
    padding-top: 8px;
    margin-top: -20px;
}
.legendes .hotel {
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
}
.legendes .tarifs {
    font-size: 14px;
    padding-top: 10px;
    margin-top: -30px;
}
/***carte***/
.carte {
    display: flex;
    border: white solid 5px;
    background-color: white;
    border-radius: 20px;
    width: 310px;  
    height: 195px;
    box-shadow: 3px 5px 5px #e2e2e2;
}
@media all and (max-width: 700px) {
    .carte {
        flex-direction: column;
        width: 100%;
    }
}
.carte a {
    text-decoration: none;
    color: black;
}
#hebergements .carte {
    font-size: 10px;
    background-size: cover;  
}
/*End set-up Section*/
/***Mise en page Hébergements à marseille***/
.titres h2 {
    height: 58px;
    font-size: 22px;
    justify-content: center;
    justify-items: center;
    line-height: 58px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 10px;
}
/***afficher plus***/
.more {
    font-weight: bold;
    font-size: 18px;
    padding-left: 5px;
    margin-top: 40px;
}
@media all and (max-width: 1024px) {
    .more {
        padding-left: 20px;
    }
}
@media all and (max-width: 700px) {
    .more {
        padding-left: 0;
    }
}
#hebergements a {
    text-decoration: none;
    color: black;
}

/***images Hebergements***/
.auberge_la_cannebiere {
    background-image: url(images/hebergements/4_small/auberge_la_cannebiere.jpg);
    width: 300px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.hotel_du_port {
    background-image: url(images/hebergements/4_small/hotel_du_port.jpg);
    width: 300px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.hotel_les_mouettes {
    background-image: url(images/hebergements/4_small/hotel_les_mouettes.jpg);
    width: 300px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
/*ligne2*/
.hotel_de_la_mer {
    background-image: url(images/hebergements/4_small/hotel_de_la_mer.jpg);
    width: 300px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.auberge_le_panier {
    background-image: url(images/hebergements/4_small/auberge_le_panier.jpg);
    width: 300px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.hotel_chez_amina {
    background-image: url(images/hebergements/4_small/hotel_chez_amina.jpg);
    width: 300px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;    
}
@media all and (max-width: 700px) {
    .auberge_la_cannebiere,
    .hotel_du_port,
    .hotel_les_mouettes,
    .hotel_de_la_mer,
    .auberge_le_panier,
    .hotel_chez_amina {
        width: 100%;
    }
}
/*******Les plus Populaires*********/
#populaires {
    width: 35%;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    font-size: 12px;  
}
@media all and (max-width: 1024px) {
    #populaires {
        padding-left: 45px;
        width: auto;
        height: auto;
        margin-left: 10px;
    }
}
@media all and (max-width: 700px) {
    #populaires {
        background-color: #f2f2f2;
        border-radius: 0;
        padding-right: 20px;
        padding-left: 10px;
        padding-bottom: 30px;
        margin-left: 5px;
        margin-right: 10px;
        width: 100%;
        height: auto;
    }
}
.selection_populaires {
    margin-top: -30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}
@media all and (max-width: 700px) {
    .selection_populaires {
        row-gap: 20px;
    }
}
/***************************************/
.titres_populaires {
    padding-left: 5px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}
@media all and (max-width: 700px) {
    .titres_populaires {
        padding-top: 10px;
        width: 100%;
        height: 90px;
    }
}
/**Icone graph**/
.titres_populaires .icones_populaires {
    margin-right: -30px;
    font-size: 23px;
    align-items: center;
    height: 100px;
    line-height: 100px;
}
/***bloc_populaires***/
.titres_populaires h2 {
    height: 25px;
    font-size: 22px;
    justify-content: center;
    justify-items: center;
    line-height: 80px;
    font-weight: bold;
}
@media all and (max-width: 700px) {
    .titres_populaires h2 {
        padding-right: 20px;
    }
}
.carte_populaires {    
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 3px 5px 5px #e2e2e2;
}
@media all and (max-width: 700px) {
    .carte_populaires {
        width: 100%;
        margin: auto;
    }
}
.carte_populaires a {
    text-decoration: none;
    color: black;
}
.legendes_populaires {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 200px;
}
.legendes_populaires p {
    margin-top: 5px;
    margin-bottom: 0;
}
.choix_populaires{
    display: grid;
    grid-template-columns: 135px 1fr;
    border-radius: 20px 20px 20px 20px;
}
/***noms hotels***/
.choix_populaires .hotel_populaires {
    font-size: 18px;
    padding-top: 11px;
    padding-left: 10px;
    font-weight: bold;
}
/***prix***/
.choix_populaires .tarifs {
    padding-left: 11px;
    font-size: 14px;
    padding-top: 10px;
}
/***décalage des etoiles***/
.choix_populaires .etoiles {
    padding-top: 45px;
    font-size: 11px;
    padding-left: 11px;
    margin-top: -10px;
}
/***imagePopulaire***/
.hotel_le_soleil_du_matin {
    background-image: url(images/hebergements/4_small/hotel_le_soleil_du_matin.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 0 0 20px;
    height: 135px;  
}
.au_coeur_de_l_eau_chambres_d_hotes {
    background-image: url(images/hebergements/4_small/au_coeur_de_l_eau_chambres_d_hotes.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 0 0 20px;
    height: 135px;
}
.hotel_tout_bleu_et_blanc {
    background-image: url(images/hebergements/4_small/hotel_tout_bleu_et_blanc.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 0 0 20px;
    height: 135px;
}
/*******Activités à Marseille*******/
#section_activite {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 80px;
    height: 600px;
    width: 100%;
}
@media all and (max-width: 1024px) {
    #section_activite {
        margin-left: -10px;
        width: 100%;
        height: auto;
    }
}
@media all and (max-width: 700px) {
    #section_activite {
        flex-wrap: wrap;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 10px;
        padding-left: 7px;
        margin-bottom: 0;
    }
}
.selection-activites {
    width: 97%;
    height: 550px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 2fr 1fr;
    column-gap: 40px;
}

@media all and (max-width: 1024px) {
    .selection-activites {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        row-gap: 20px; 
    }
}
@media all and (max-width: 700px) {
    .selection-activites {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        height: auto;
        width: auto;       
    }
}
/***********************************************/
.bloc_activites_1 {
    width: 100%;
    height: auto;
    grid-column: 1;
}

.bloc_activites_2 {
    width: 100%;
    height: auto;
    grid-column: 2;
    grid-row: 1;

}
.bloc_activites_3 {
    width: 100%;
    height: auto;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
    
}
.bloc_activites_4 {
    width: 100%;
    height: auto;
    grid-column: 3;
    
   
}
.bloc_activites_5 {
    width: 100%;
    height: auto;
    grid-column: 4;
    grid-row: 1;
   
}
.bloc_activites_6 {
    width: 100%;
    height: auto;
    grid-column: 4;
    grid-row: 1;
    align-self: flex-end;
    
}

/********Responsiv bloc_activites********/
@media all and (max-width: 1024px) {
    .bloc_activites_1 {
        grid-column-start: 1;
        grid-row: 1;
        width: 100%;
    }
}
@media all and (max-width: 1024px) {
    .bloc_activites_2{
        grid-column-start: 2;
        grid-row: 1;
        width: 100%;
    }
}
@media all and (max-width: 1024px) {
    .bloc_activites_3{
        grid-column-start: 1;
        grid-row: 2;
        width: 100%;
    }
}
@media all and (max-width: 1024px) {
    .bloc_activites_4{
        grid-column-start: 2;
        grid-row: 2;
        width: 100%;
    }
}
@media all and (max-width: 1024px) {
    .bloc_activites_5{
        grid-column-start: 1;
        grid-row: 3;
        width: 100%;
    }
}
@media all and (max-width: 1024px) {
    .bloc_activites_6{
        grid-column-start: 2;
        grid-row: 3;
        width: 100%;
    }
}
@media all and (max-width: 700px) {
    .bloc_activites {
        width: 100%;
        height: auto;
    }
}
@media all and (max-width: 700px) {
    .bloc_activites_2 {
        width: 100%;
        height: auto;
    }   
}
@media all and (max-width: 700px) {    
    .bloc_activites_3 {
        width: 100%;
        height: auto;
    }
}
@media all and (max-width: 700px) {    
    .bloc_activites_4 {
        width: 100%;
        height: auto;
    }
}
@media all and (max-width: 700px) {    
    .bloc_activites_5 {
        width: 100%;
        height: auto;
    }
}
@media all and (max-width: 700px) {    
    .bloc_activites_6 {
        width: 100%;
        height: auto;
    }
}
/**********/
.titres_activites h2 {
    padding-left: 5px;
    padding-right: 40px;
    width: 300px;
    height: 25px;
    font-size: 22px;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
}
@media all and (max-width: 700px) {
    .titres_activites h2 {
        width: 100%;
        height: 100%;
    }
}
/***cartes Activités***/   /***différences selon les tailles***/

.cartes_activites_1 {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #e2e2e2;
    width: 100%;
    height: 400px;   
}


.cartes_activites_2 {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #e2e2e2;
    width: 100%;
    height: 210px;  
}

.cartes_activites_3 {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #e2e2e2;
    width: 100%;
    height: 150px;
}

.cartes_activites_4 {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #e2e2e2;
    width: 100%;
    height: 400px; 
}

.cartes_activites_5 {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #e2e2e2;
    width: 100%;
    height: 180px;   
}

.cartes_activites_6 {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #e2e2e2;
    width: 100%;
    height: 180px;  
}

/**********responsive carte_activites**********/
@media all and (max-width: 1024px) {
    .cartes_activites_1{
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 390px;
    }
}
@media all and (max-width: 1024px) {
    .cartes_activites_2{
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 390px;      
    }
}
@media all and (max-width: 1024px) {
    .cartes_activites_3{
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 390px;
    }
}
@media all and (max-width: 1024px) {
    .cartes_activites_4{
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 390px;
    }
}
@media all and (max-width: 1024px) {
    .cartes_activites_5{
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 390px;
    }
}
@media all and (max-width: 1024px) {
    .cartes_activites_6{
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 390px;
    }
}
/***mobile***/
@media all and (max-width: 700px) {
    .cartes_activites_1 {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 190px;

    }
}
@media all and (max-width: 700px) {
    .cartes_activites_2 {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 190px;
    }
}
@media all and (max-width: 700px) {
    .cartes_activites_3 {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 190px;
    }
}
@media all and (max-width: 700px) {
    .cartes_activites_4 {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 190px;
        
    }
}
@media all and (max-width: 700px) {
    .cartes_activites_5 {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 190px;
    }
}
@media all and (max-width: 700px) {
    .cartes_activites_6 {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 5px 5px #e2e2e2;
        width: 100%;
        height: 190px;
    }
}
/****text no-deco****/
#section_activite a {
    text-decoration: none;
    color: black;
}
#section_activite p {
    padding-left: 20px;
}
/*******images Activités**********/
.vieux_port {
    background-image: url(images/activites/3_medium/vieux_port.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 350px;
}
.fort_de_pomegues {
    background-image: url(images/activites/4_small/fort_de_pomegues.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 160px;
}
.iles-du_frioul {
    background-image: url(images/activites/4_small/iles_du_frioul.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100px;
}
.parc_national_des_calanques {
    background-image: url(images/activites/3_medium/parc_national_des_calanques.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 350px;
}
.notre_dame_de_la_garde {
    background-image: url(images/activites/4_small/notre_dame_de_la_garde.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 130px;
}
.parc_longchamp {
    background-image: url(images/activites/4_small/parc_longchamp.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 130px;
}
@media all and (max-width: 1024px) {
    .vieux_port,
    .fort_de_pomegues,
    .iles-du_frioul,
    .parc_national_des_calanques,
    .notre_dame_de_la_garde,
    .parc_longchamp {
        width: 100%;
        height: 350px;
    }
}
@media all and (max-width: 700px) {
    .vieux_port,
    .fort_de_pomegues,
    .iles-du_frioul,
    .parc_national_des_calanques,
    .notre_dame_de_la_garde,
    .parc_longchamp {
        width: 100%;
        height: 135px;
    }
}
/*****FOOTER*****/
footer {
    width: 95%;
    height: 200px;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #f2f2f2;
}
@media all and (max-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 0;
        background-color: #f2f2f2;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
}
@media all and (max-width: 700px) {
    footer {
        display: flex;
        margin-left: 0;
        background-color: #f2f2f2;
        height: auto;
        width: 100%;
    }
}
.bloc_end {
    display: flex;
    justify-content: space-around;
}
@media all and (max-width: 700px) {
    .bloc_end {
        flex-direction: column;
        justify-content: center;    
    }
}
footer a {
    text-decoration: none;
    color: black;
}
.a_propos {
    padding-left: 40px;    
}
@media all and (max-width: 700px) {
    .a_propos {
        padding-left: 20px;
    }
}
.nos_hebergements {
    padding-right: 230px;
    padding-left: 150px;
}
@media all and (max-width: 1024px) {
    .nos_hebergements {
        padding-left: 20px;
        padding-right: 50px;
    }
}
@media all and (max-width: 700px) {
    .nos_hebergements {
        padding-left: 20px;
        padding-right: 0;
    }
}
.assistance {
    padding-right: 350px;
}
@media all and (max-width: 1024px) {
    .assistance {
        padding-right: 20px;
        padding-left: 50px;
    }
}
@media all and (max-width: 700px) {
    .assistance {
        padding-left: 20px;
    }
}
.text_end {
    display: flex;
    flex-direction: column;
}
.bloc_end a {
    padding-bottom: 5px;
    padding-top: 5px;
}