@font-face {
    font-family: "Raleway-Medium";
    src: url(../reservia/fonts/Raleway-Medium.ttf);
}
* {
    box-sizing: border-box;
}
/******************body********************/
body {
    font-family: "Raleway-Medium";
    font-size: medium;    
}
/****marges****/
#bloc_page {
    margin-left: 190px;
    margin-right: 190px;
}
/*****************NAVBAR******************/
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.decorationLien{
    text-decoration: none;
}
.sizeLien{
    width: 140px;
    height: 99px;
    font-size: 1.1em;
}
.sizeLiens {
    width: 45%;
}
.colorLien {
    color: #0065fc;
    font-weight: bold;
}
/**********************************/
h1 {
    font-weight: bold;
    font-size: 1.5em;
}
p {
    font-weight: normal;
}
form {
    width: 400px;
    height: 50px;
}
.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
    border-radius: 10px;
}

.map {
    background-color: #f2f2f2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
    border: 0.5px solid;
    border-color: #f2f2f2;

}
.recherche {
    font-family: "Raleway-Medium";
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    border-color: #f2f2f2;
    padding: 20px;
    border: 0.5px solid;
    border-color: #f2f2f2;
}
::placeholder{
    color: black;
    font-size: 1em;
    border-color: #f2f2f2;
}
button {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #0065fc;
    color: white;
    font-family: "raleway-Medium";
    border-color: #f2f2f2;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    border: 0.5px solid;
}
/**************FILTRES****************/
.blockFiltres {
    width: 1000px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.filtres{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    width: 50px;
    height: 100px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}
/****Iconnes****/
.iconneEco {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconneFamille {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconneRomantique {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconneAnimaux {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/****text Iconnes****/
.textIcones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/****text Iconnes Bordures****/
.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    background-color: #deebff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: 1em #f2f2f2;
    border-radius: 100%;
    padding: 20px;
}
.eco {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    border-radius: 0 25px 0;
}
.famille {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    border-radius: 0 25px 0;
}
.romantique {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    border-radius: 0 25px 0;
}
.animaux {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.1em;
    border-radius: 0 25px 0;
}
/********Info********/
.blockInfo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0065fc;
    font-size: 25px;
    width: 20px;
    height: 20px;
    padding: 0.5em;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/**********Set-up Section 1*************/
.a_la_une {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    row-gap: 30px;
    margin-right: 130px;
}
#hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 925px;
    height: 650px;
    border-radius: 20px;
    background: #f2f2f2;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-size: cover;
}
/***titres H2***/
.titres {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    height: 80px;
    padding-top: 5px;
}
.selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

/*****Légendes*****/
.legendes {
    padding-left: 15px;
    
    
}
.legendes div {
    font-size: 12px;
    padding-top: 8px;
    margin-top: -20px;
}
.legendes .hotel {
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    width: 240px;
    height: 80px;
    margin-top: -15px;
}
.legendes .tarifs {
    font-size: 14px;
    padding-top: 10px;
    margin-top: -30px;
}

/***carte***/
.carte {
    display: flex;
    flex-direction: column;
    border: white solid 5px;
    background-color: white;
    border-radius: 20px;  
    width: 260px;
    height: 210px;
    box-shadow: 3px 5px 5px #e2e2e2;
    margin-right: 2px;
    margin-left: 2px;
}


.carte a {
    text-decoration: none;
    color: black;

}
#hebergements .carte {
    font-size: 10px;
    background-size: cover;  
}
/*End set-up Section*/
/***Mise en page Hébergements à marseille***/
.titres h2 {
    height: 58px;
    font-size: 22px;
    justify-content: center;
    justify-items: center;
    line-height: 58px;
    font-weight: bold;
}


/***afficher plus***/
.more {
    font-weight: bold;
    font-size: 18px;
    padding-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#hebergements a {
    text-decoration: none;
    color: black;
}
/***images Hebergements***/
.auberge_la_cannebiere {
    background-image: url(images/hebergements/4_small/auberge_la_cannebiere.jpg);
    width: 250px;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.hotel_du_port {
    background-image: url(images/hebergements/4_small/hotel_du_port.jpg);
    width: 250px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.hotel_les_mouettes {
    background-image: url(images/hebergements/4_small/hotel_les_mouettes.jpg);
    width: 250px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
/*ligne2*/
.hotel_de_la_mer {
    background-image: url(images/hebergements/4_small/hotel_de_la_mer.jpg);
    width: 250px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.auberge_le_panier {
    background-image: url(images/hebergements/4_small/auberge_le_panier.jpg);
    width: 250px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.hotel_chez_amina {
    background-image: url(images/hebergements/4_small/hotel_chez_amina.jpg);
    width: 250px;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;    
}
/*******Les plus Populaires*********/
#populaires {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    font-size: 12px;
    height: 650px;
    border: 10px;
    margin-left: -50px;
}
.selection_populaires {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}
/***************************************/
.titres_populaires {
    padding-left: 5px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}
/**Icone graph**/
.titres_populaires .icones_populaires {
    margin-right: -30px;
    font-size: 23px;
    align-items: center;
    height: 100px;
    line-height: 100px;
}
/***bloc_populaires***/
.titres_populaires h2 {
    height: 25px;
    font-size: 22px;
    justify-content: center;
    justify-items: center;
    line-height: 58px;
    font-weight: bold;
}
.carte_populaires {
    height: 145px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 3px 5px 5px #e2e2e2;
    margin-top: -2px;
    margin-bottom: -2px;
}
.carte_populaires a {
    text-decoration: none;
    color: black;
}
.legendes_populaires {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 200px;
}
.legendes_populaires p {
    margin-top: 5px;
    margin-bottom: 0;
}
.choix_populaires{
    display: grid;
    grid-template-columns: 135px 1fr;
    border-radius: 20px 20px 20px 20px;
}
/***noms hotels***/
.choix_populaires .hotel_populaires {
    font-size: 18px;
    padding-top: 11px;
    padding-left: 10px;
    font-weight: bold;
}
/***prix***/
.choix_populaires .tarifs {
    padding-left: 11px;
    font-size: 14px;
    padding-top: 10px;
}
/***décalage des etoiles***/
.choix_populaires .etoiles {
    padding-top: 45px;
    font-size: 11px;
    padding-left: 11px;
    margin-top: -10px;
}
/***imagePopulaire***/
.hotel_le_soleil_du_matin {
    background-image: url(images/hebergements/4_small/hotel_le_soleil_du_matin.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 0 0 20px;
    height: 135px;  
}
.au_coeur_de_l_eau_chambres_d_hotes {
    background-image: url(images/hebergements/4_small/au_coeur_de_l_eau_chambres_d_hotes.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 0 0 20px;
    height: 135px;
}
.hotel_tout_bleu_et_blanc {
    background-image: url(images/hebergements/4_small/hotel_tout_bleu_et_blanc.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 0 0 20px;
    height: 135px;
}
/*******Activités à Marseille*******/
#activite {
    width: 100%;
    height: 420px;
    padding-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

}

.selection-activites {
    height: 400px;
    display: flex;   
align-items: center;
justify-content: space-between;
}
/***********************************************/
.bloc_activites_1 {
    width: 310px;
    height: 400px;
    margin-left: 0;
    margin-right: 23px;

}
.bloc_activites_2 {
    width: 310px;
    height: 400px;
    margin-left: 23px;
    margin-right: 23px;

}
.bloc_activites_3 {
    width: 310px;
    height: 400px;
    margin-right: 23px;
    margin-left: 23px;

}
.bloc_activites_4 {
    width: 310px;
    height: 400px;
    margin-left: 23px;
    margin-right: 23px;
}
.titres_activites h2 {
    padding-left: 5px;
    padding-right: 40px;
    height: 25px;
    font-size: 22px;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
}
/***cartes Activités***/   /***différences selon les tailles***/

.cartes_activites {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #e2e2e2;
    width: 310px;
    height: 400px;
}
.cartes_activites_1 {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #e2e2e2;
    width: 310px;
    height: 210px;
    margin-bottom: 40px;
}
.cartes_activites_2 {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #e2e2e2;
    width: 310px;
    height: 150px;
    margin-top: 40px;
}
.cartes_activites_3 {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #e2e2e2;
    width: 310px;
    height: 180px;
    margin-bottom: 40px;
}


/****text no-deco****/
.cartes_activites a {
    text-decoration: none;
    color: black;
}
.cartes_activites_1 a {

    text-decoration: none;
    color: black;
}
.cartes_activites_2 a {
    text-decoration: none;
    color: black;
}
.cartes_activites_3 a {
    text-decoration: none;
    color: black;
}



#activite p {
    padding-left: 20px;
}
/*******images Activités**********/
.vieux_port {
    background-image: url(images/activites/3_medium/vieux_port.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 310px;
    height: 350px;
}
.fort_de_pomegues {
    background-image: url(images/activites/4_small/fort_de_pomegues.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 310px;
    height: 160px;
}
.iles-du_frioul {
    background-image: url(images/activites/4_small/iles_du_frioul.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 310px;
    height: 100px;
}
.parc_national_des_calanques {
    background-image: url(images/activites/3_medium/parc_national_des_calanques.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 310px;
    height: 350px;
}
.notre_dame_de_la_garde {
    background-image: url(images/activites/4_small/notre_dame_de_la_garde.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 310px;
    height: 130px;
}
.parc_longchamp {
    background-image: url(images/activites/4_small/parc_longchamp.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    width: 310px;
    height: 130px;
}
/*****FOOTER*****/
footer {
    width: 1650px;
    height: 160px;
    padding-top: 20px;
    margin-top: 100px;
    margin-left: 100px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}
footer a {
    text-decoration: none;
    color: black;
}
.a_propos {
    
}